.cardParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    padding-top: 20px;
    border-radius: 15px;
    border: 1px solid #333;
    background-color: black;
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
}

.cardParent:hover {
    border: 1.5px solid white;
}

.imageMenuContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
}

.cardContent {
    margin: 10px;
    color: #999;
    font-size: small;
    text-align: left;
    padding-left: 10px;
}

@media screen and (max-width: 650px) {
    .cardParent {
        width: 85%;
    }
}