.signUpParent {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.leftContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.title {
    color: white;
    font-weight: 300;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: xx-large;
}

.rightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

@media screen and (max-width: 650px) {
    .signUpParent {
        justify-content: flex-end;
        flex-direction: column-reverse;
        /* margin: 0 0 20px 0; */
    }

    .leftContainer {
        width: 100%;
        height: 40%;
        margin-top: 30px;
    }

    .title {
        margin: 40px 0 20px 0;
    }

    .rightContainer {
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-height: 650px) {
    .rightContainer {
        width: 0;
        height: 20%;
    }
}